.container, #timer{
    display: flex;
    gap: 20px;
}

#timer {
    width: 30%;
    border: 1px solid black;
    height: 100px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

#key{
    font-size: 24px;
    
}